.banner {
  &__content {
    padding: 150px 20px 1px 20px;
    background: linear-gradient(120deg, rgba(0, 72, 144, 0.75) 0%, rgba(85, 186, 244, 0.75) 100%);
    min-height: 250px;
    text-align: center;
    color: #ffffff;

    &__title {
      font-size: 42px;
      line-height: 52px;
      font-weight: bold;
      max-width: 800px;
      margin: 0 auto 30px auto;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      animation: banner--show 1s;
      font-family: "ff-tisa-web-pro", serif;
    }

    &__intro {
      font-size: 26px;
      line-height: 36px;
      max-width: 650px;
      margin: 0 auto;
      padding-bottom: 80px;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      opacity: 0.85;
      animation: banner--show-intro 1.1s;
      font-family: "ff-tisa-web-pro", serif;
    }

    &__call-to-action {
      margin-top: -20px;
      padding: 0 20px;
      display: inline-block;
      background: rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      margin-bottom: 80px;
      line-height: 42px;
      color: #ffffff;
      box-shadow:
        inset 0px 1px 0px rgba(0, 0, 0, 0.15),
        0px 1px 0px rgba(255, 255, 255, 0.2);
      transition: color 0.2s;
      animation: banner--show-call-to-action 1.2s;

      &:hover {
        color: #fff3ba;
      }
    }

    &__navigation {
      padding: 20px 10px;
      margin: 50px -20px 0 -20px;
      background: rgba(0, 0, 0, 0.1);

      &__links {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        text-align: left;
        max-width: 950px;
        display: flex;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

        &__item {
          margin-right: 30px;

          &__link {
            display: block;
            color: #ffffff;

            &:hover {
              color: #fff3ba;
            }

            &.active {
              color: #ffec94;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .banner__content__navigation__links {
    display: block;
    text-align: center;
    line-height: 40px;

    &__item {
      margin-right: 0px;
    }
  }
}

@media (max-width: 350px) {
  .banner__content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
