.navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  line-height: 65px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

  &__sizer {
    max-width: 950px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
  }

  &__logo {
    width: 75px;
    height: 75px;
    display: inline-block;
    background: url('/images/dwhp-logo.png') no-repeat center center;
    background-size: auto 100%;
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.07);
    }
  }

  &__links {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    list-style: none;
    margin: 0;

    &__item {
      margin-left: 30px;

      &__link {
        display: block;
        color: #ffffff;

        &:hover {
          color: #fff3ba;
        }

        &.active {
          color: #ffec94;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .navigation--hide-on-mobile {
    display: none !important;
  }
}

@media (max-width: 450px) {
  .navigation {
    &__logo {
      width: 45px;
      height: 45px;
      top: 20px;
    }

    &__links__item {
      margin-left: 15px;
    }
  }
}

@media (max-width: 380px) {
  .navigation {
    &__links {
      font-size: 15px;
    }
  }
}

@media (max-width: 350px) {
  .navigation {
    text-align: center;

    &__sizer {
      padding: 15px;
    }

    &__logo {
      position: static;
      display: block;
      width: 100%;
      height: 50px;
    }

    &__links {
      position: static;
      width: 100%;
      padding: 0;
      font-size: 14px;
      display: flex;
      justify-content: space-between;

      &__item {
        margin: 0;

        &:first-child {
          margin-left: 0px;
        }
      }
    }
  }
}
