.news {
  &__item {
    margin-bottom: 30px;
    max-width: 600px;

    &__date {
      color: #919191;
      font-size: 16px;
      font-family: -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Light", "San Francisco", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    &__title {
      font-size: 24px;
      line-height: 30px;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
