<div class="banner__content__navigation">
  <ul class="banner__content__navigation__links">
    <li class="banner__content__navigation__links__item">
      {{link-to "News" "news.index" class="banner__content__navigation__links__item__link"}}
    </li>
    <li class="banner__content__navigation__links__item">
      {{link-to "Newsletters" "news.newsletters" class="banner__content__navigation__links__item__link"}}
    </li>
  </ul>
</div>
