<div class="banner banner--approach">
  <div class="banner__content">
    <h1 class="banner__content__title">We follow a true partnership model.</h1>
    <p class="banner__content__intro">
      Our relationships with our portfolio business owners are based on respect and a common goal to accelerate growth to build shareholder value.
    </p>

    {{approach/approach-navigation}}
  </div>
</div>

<div class="content">
  <div class="content__sizer">
    <div class="content__layout">
      <div class="content__layout__primary">
        <p>
          We manage four funds with over $750 million under management. Our investors are comprised of large corporate pension plans, insurance companies, foundations, fund of fund managers, high net worth family trusts and endowments.
        </p>
        <p>
          Our extensive knowledge of the healthcare market allows us to quickly evaluate and complete a deal. Having owned and operated our own healthcare businesses, we understand the operational and strategic issues confronting business owners, and can act as a valuable strategic resource.
        </p>
      </div>
      <ul class="content__sidebar">
        <li class="content__sidebar__item">
          <h5>Founded</h5>
          <p>
            2002
          </p>
        </li>
        <li class="content__sidebar__item">
          <h5>Under Management</h5>
          <p>
            $750 million
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="content--blue-block">
  <div class="content">
    <div class="content__sizer">
      <h2>Investment Philosophy</h2>

      <blockquote>
        We partner with best in class lower- to mid-market companies that seek growth capital. We look for opportunities to invest in companies that deliver high quality services or products and have the potential to reduce costs for payors.
      </blockquote>

      <div class="content--two-column">
        <div class="content__column">
          <h3>Flexibility</h3>
          <p>
            We demonstrate flexibility when structuring transactions, and when catering to an owner's goals post-closing. We prefer partnering with management teams, but have the bench strength to deploy executives in buyout situations, when owners seek full liquidity.
          </p>
          <p>
            We prefer to purchase a controlling interest in transactions, but have the ability to invest in minority transactions as well.
          </p>
        </div>
        <div class="content__column">
          <h3>Growth</h3>
          <p>
            Our key focus is our orientation toward growth, whether it be through organic initiatives or via strategic acquisitions. This focus also impacts the way we capitalize businesses, as we avoid the burden of undue leverage.
          </p>
          <p>
            We generate returns by working with management teams to grow businesses and not by handcuffing growth with excessive debt.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="content__sizer">

    <h2>Industry expertise</h2>

    <div class="content__layout">
      <div class="content__layout__primary">
        <p>
          DW Healthcare Partners invests exclusively in healthcare companies. Our investment team's breadth of knowledge and operational expertise across multiple sectors of healthcare allows us greater insight into the unique challenges facing our partners today.
        </p>
        <p>
          This investment focus allows us to better understand and monitor the regulatory climate, pending and current reimbursement issues, and government policies and trends that impact the healthcare marketplace. This knowledge is valuable as it enables an expeditious due diligence process.
        </p>
        <p>
          Our deal origination team develops and maintains relationships with thousands of business owners and identifies hundreds of potential investment opportunities annually. We actively pursue add-on acquisition opportunities for our partners which has proven to accelerate growth in every competitive market.
        </p>
      </div>
      <ul class="content__sidebar">
        <li class="content__sidebar__item">
          <h4>Investment criteria</h4>

          <h5>Minimum Company Size</h5>
          <p>
            $5 million EBITDA
          </p>
        </li>
        <li class="content__sidebar__item">
          <h5>Location</h5>
          <p>
            North America
          </p>
        </li>
        <li class="content__sidebar__item">
          <h5>Preferred Stake</h5>
          <p>
            Majority ownership
          </p>
        </li>
        <li class="content__sidebar__item">
          <h5>Equity Investment</h5>
          <p>
            $15-60 million
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
