<div class="banner banner--deal-process">
  <div class="banner__content">
    <h1 class="banner__content__title">A five-step process.</h1>
    <p class="banner__content__intro">
      From introduction to receiving funding is a streamlined process designed to be efficient for both parties.
    </p>

    {{approach/approach-navigation}}
  </div>
</div>

<div class="content">
  <div class="content__sizer">
    <div class="content__layout">
      <div class="content__layout__primary">
        <h2>Introduction</h2>
        <p>
          An introduction is usually made through an initial telephone call and a subsequent on-site meeting at the business owner's corporate offices. The duration of this relationship-building period can be days, months or years, depending on the business owner's timing and needs.
        </p>

        <h2>Term Sheet</h2>
      </div>
    </div>
    <div class="content__layout">
      <div class="content__layout__primary">
        <p>
          A confidentiality agreement is executed and the business owner forwards the company’s financials which  usually includes audited financial statements for the last three years. Discussions with the business owner continue with regard to deal structure, purchase price, and strategic goals. A typical term sheet includes items other than price such as a description of timing, the diligence process, and an exclusivity period.
        </p>
        <p>
          During these initial negotiations, we discuss long term objectives and goals. Most of our investments involve partnering with the owners and /or management team. We prefer this partnership structure, however, in some cases we will consider a total buyout. Our investments generally include long term equity and monetary incentives for key management personnel.
        </p>
      </div>
      <ul class="content__sidebar">
        <li class="content__sidebar__item">
          <h5>Valuation</h5>
          <p>
            A multiple of EBITDA (earnings before interest, taxes, depreciation, and amortization)
          </p>
        </li>
        <li class="content__sidebar__item">
          <h5>Valuation Variables</h5>
          <ul>
            <li>Leadership</li>
            <li>Business Model</li>
            <li>Historic Growth</li>
            <li>Profit Margins</li>
            <li>Intellectual Property</li>
            <li>Distribution Channels</li>
            <li>Working Capital Requirements</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="content__layout">
      <div class="content__layout__primary">
        <h2>Due Diligence</h2>
        <p>
          We work with lawyers, accountants and advisors to better understand prospective partners' businesses and the competitive landscape. We visit their offices, and speak with select members of their management teams, customers and vendors. All of these activities help us to evaluate businesses and their potential growth opportunities.
        </p>

        <h2>Funding</h2>
        <p>
          To fund our transactions, we draw from our committed funds and wire the money into our new partner's account.
        </p>

        <h2>Post Closing</h2>
        <p>
          We leave the daily management of the business to the management team. Our investment team serves as board members and we leverage our industry expertise, deal origination activities and business relationships to help positively impact and grow the business.
        </p>
        <p>
          We work together to identify, contact and acquire add-on acquisitions. Typically, we build out the sales and accounting infrastructure during the first few years of ownership.
        </p>
        <p>
          DWHP has a great deal of flexibility on the holding period, and there is no predetermined disposition date. Typically, the partners hold an interest in the company for three to seven years.
        </p>
      </div>
    </div>
  </div>
</div>
