<div class="banner banner--deal-process">
  <div class="banner__content">
    <h1 class="banner__content__title">A five-step process.</h1>
    <p class="banner__content__intro">
      TODO
    </p>

    {{approach/approach-navigation}}
  </div>
</div>
