<div class="banner banner--contact">
  <div class="banner__content">
    <h1 class="banner__content__title">Located in two great cities.</h1>
    <p class="banner__content__intro">
      TODO
    </p>
  </div>
</div>
