<div class="banner banner--contact">
  <div class="banner__content">
    <h1 class="banner__content__title">Page Not Found</h1>
    <p class="banner__content__intro">
      The page you are trying to find does not exist.
    </p>
  </div>
</div>
