<div class="banner banner--news">
  <div class="banner__content">
    <h1 class="banner__content__title">Newsletters</h1>
    <p class="banner__content__intro">
      Share in our insight.
    </p>

    {{news/news-navigation}}
  </div>
</div>

<div class="content">
  <div class="content__sizer">
    <div class="content__layout">
      <div class="content__layout__primary">
        {{#each model as |newsletter|}}
          <div class="news__item">
            <div class="news__item__title">
              <a href="/newsletters/{{newsletter.file}}">{{newsletter.title}}</a>
            </div>
            <div class="news__item__subtitle">
              {{newsletter.subtitle}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
