<div class="banner banner--contact">
  <div class="banner__content">
    <h1 class="banner__content__title">Our Locations</h1>
  </div>
</div>

<div class="contact">
  <div class="content__sizer">

    <div class="contact__columns">
      <div class="contact__columns__column">
        <h2>Toronto, Ontario</h2>

        <div class="contact__columns__column__image">
          <img src="/images/contact-toronto.jpg" width="100%">
        </div>

        <div class="contact__columns__column__address">
          <h5>Address</h5>
          66 Wellington Street West,<br>
          TD Bank Tower, Suite 4030<br>
          Toronto, Ontario M5K 1J5
        </div>

        <div class="contact__columns__column__contact">
          <div class="contact__columns__column__contact__telephone">
            <h5>Telephone</h5>
            416-583-2420
          </div>

          <div class="contact__columns__column__contact__fax">
            <h5>Fax</h5>
            416-583-2425
          </div>
        </div>

        <div class="contact__columns__column__primary-contact">
          <h5>Primary Contact</h5>
          Lisa Downey<br>
          <a href="mailto:lisa@dwhp.com">lisa@dwhp.com</a><br>
          416-583-2428
        </div>

        <a href="https://goo.gl/maps/5EvY6ppb2ZQ2" class="contact__columns__column__view">View Map</a>
        {{link-to "Transportation & Lodging" "contact.toronto" class="contact__columns__column__view"}}
      </div>


      <div class="contact__columns__column">
        <h2>Park City, Utah</h2>

        <div class="contact__columns__column__image">
          <img src="/images/contact-park-city.jpg" width="100%">
        </div>

        <div class="contact__columns__column__address">
          <h5>Address</h5>
          1413 Center Drive,<br>
          Suite 220<br>
          Park City, Utah 84098
        </div>

        <div class="contact__columns__column__contact">
          <div class="contact__columns__column__contact__telephone">
            <h5>Telephone</h5>
            435-645-4050
          </div>

          <div class="contact__columns__column__contact__fax">
            <h5>Fax</h5>
            435-645-4065
          </div>
        </div>

        <div class="contact__columns__column__primary-contact">
          <h5>Primary Contact</h5>
          Liz Null<br>
          <a href="mailto:liz@dwhp.com">liz@dwhp.com</a><br>
          435-645-4058
        </div>

        <a href="https://goo.gl/maps/sLHUqR7fvEU2" class="contact__columns__column__view">View Map</a>
        {{link-to "Transportation & Lodging" "contact.park-city" class="contact__columns__column__view"}}
      </div>
    </div>
  </div>
</div>
