<div class="banner banner--approach">
  <div class="banner__content">
    <h1 class="banner__content__title">Toronto Transportation &amp; Lodging</h1>
  </div>
</div>

<div class="content">
  <div class="content__sizer">
    <div class="content__layout">
      <div class="content__layout__primary">
        <h2>Lodging</h2>
        <p>
          <strong>The Omni King Edward (0.6 km) $$$</strong><br />
          37 King Street East<br />
          Toronto, ON M5C 1E9<br />
          Telephone: 416-863-9700<br />
          Fax: 416-863-4102<br />
          <a href="http://www.omnihotels.com/hotels/toronto-king-edward">www.omnihotels.com/hotels/toronto-king-edward</a><br />
          PLEASE ASK FOR THE "DW HEALTHCARE PARTNERS" RATE<br />
          (free morning beverage and car service from 7:30-9:30am) <br />
        </p>
        <p>
          <strong>Hilton Toronto (0.7 km) $$</strong><br />
          145 Richmond Street West<br />
          Toronto, ON M5H 2L2<br />
          Telephone: 416-869-3456<br />
          Fax: 416-869-3187<br />
          <a href="http://www.hilton.com">www.hilton.com</a> <br />
        </p>
        <p>
          <strong>Sheraton Centre Toronto Hotel (0.8 km) $$</strong><br />
          123 Queen Street West<br />
          Toronto, ON M5H 2M9<br />
          Telephone: 416-361-1000<br />
          Fax: 416-947-4854<br />
          <a href="http://www.starwoodhotels.com">www.starwoodhotels.com</a> <br />
        </p>
        <p>
          <strong>Holiday Inn on King (1 km) $</strong><br />
          370 King Street West<br />
          Toronto, ON M5V 1J9<br />
          Telephone: 416-599-4000<br />
          Fax: 416-599-7394 / 416-595-2521<br />
          <a href="http://www.hiok.com">www.hiok.com</a> <br />
        </p>
        <p>
          <strong>Ritz Carlton (1.8 km) $$$</strong><br />
          181 Wellington Street West<br />
          Toronto, ON M5V 3G7<br />
          Telephone: 416-585-2500<br />
          Fax: 416-585-2503<br />
          <a href="http://www.ritzcarlton.com">www.ritzcarlton.com</a> <br />
        </p>
        <p>
          <strong>Four Seasons Toronto Yorkville (3.1 km) $$$</strong><br />
          21 Avenue Road<br />
          Toronto, ON M5R 2G1<br />
          Telephone: 416-964-0411<br />
          Fax: 416-964-2301<br />
          <a href="http://www.fourseasons.com">www.fourseasons.com</a> <br />
        </p>
        <p>
          <strong>The Hazelton Hotel (3.3 km) $$$</strong><br />
          118 Yorkville Avenue Toronto<br />
          Toronto, ON M5R 1C4<br />
          Telephone: 416-963-6300 / 866-473-6301<br />
          Fax: 416-963-6399<br />
          <a href="http://www.thehazeltonhotel.com">www.thehazeltonhotel.com</a> <br />
        </p>
        <p>
          <strong>Shangri-La (600 m) $$$</strong><br />
          188 University Avenue<br />
          Toronto, ON M5H 0A3<br />
          Telephone: 647-788-8888<br />
          Fax: 647-788-8889<br />
          <a href="http://www.shangri-la.com/toronto/shangrila/">www.shangri-la.com/toronto/shangrila</a> <br />
        </p>

        <h2>Transportation</h2>

        <p>
          Transportation to and from the airport:
        </p>
        <p>
          Airport Limo Car Service: 800-465-3434<br>
          Rosedale Livery: 905-677-9444<br>
          Co-op Cabs: 416-504-2667 <br>
        </p>
        <p>
          Taking a cab to the office takes between 25-45 minutes (depending on traffic) from Pearson International Airport and 8-20 minutes (depending on traffic) from Billy Bishop Airport.
        </p>
        <p>
          There is an express train that runs directly from Pearson Airport to Union Station (a six minute walk from our office). The train takes 25 minutes and runs every 15 minutes from 5:27am to 1:57am. It is located in Terminal 1 of Pearson Airport, directly adjacent to the Link Train service linking Terminals 1 and 3. It is suggested that tickets are purchased prior to travel at <a href="https://www.upexpress.com/Tickets/BuyTickets">UP Express</a>.
        </p>
        <p>
          If you need assistance with logistics, please contact Molly Ryan at 416-583-2420.
        </p>

      </div>
    </div>
  </div>
</div>
