<div class="banner banner--adding-value">
  <div class="banner__content">
    <h1 class="banner__content__title">Four paths to adding value.</h1>
    <p class="banner__content__intro">
      What makes DWHP unique is our deep industry knowledge and operational experience in the healthcare marketplace.
    </p>

    {{approach/approach-navigation}}
  </div>
</div>
