<div class="banner banner--adding-value">
  <div class="banner__content">
    <h1 class="banner__content__title">Four paths to adding value.</h1>
    <p class="banner__content__intro">
      What makes DWHP unique is our deep industry knowledge and operational experience in the healthcare marketplace.
    </p>

    {{approach/approach-navigation}}
  </div>
</div>

<div class="content content--sizer">
  <p>
    We work with our partners to develop a strategic plan to accelerate growth. This could involve an aggressive strategy to acquire competing businesses to consolidate the market, or it could include the build-out of a direct sales force to launch innovative products in a new channel. Whatever the situation, we are uniquely positioned at DWHP to help our partners plan and execute their desired growth strategies.
  </p>

  <h2>Building Strong boards</h2>
  <p>
    With every investment, we help our partners create a strong, highly-functional board of directors. An independent board of directors offers our partners a forum where new ideas and approaches can be discussed, and discipline can support capital allocation decisions.
  </p>

  <h2>Identifying aquisition canidates</h2>
  <p>
    At DWHP, we proactively work with our partners to identify acquisition candidates and acquire the asset on their behalf. We can complete the deal process for each add-on acquisition and can fund the transaction, if needed.
  </p>
  <p>
    We have helped our partners identify and acquire the following companies:
  </p>

  <table>
    <tr>
      <th>Portfolio Company</th>
      <th>Add-on Aquisition</th>
    </tr>
    <tr>
      <td>BGS Pharmacy Partners</td>
      <td>
        Innovative Care<br>
        Senior Care Contract Pharmacy<br>
        Spectrum Pharmacy Services<br>
      </td>
    </tr>
    <tr>
      <td>Global Physics Solutions</td>
      <td>
        Arete Medical Physics<br>
        Ascend Medical Physics<br>
        ARC- Advanced Radiotherapy Consulting<br>
        Comprehensive Physics Solution, Inc.<br>
      </td>
    </tr>
    <tr>
      <td>Emphusion</td>
      <td>Clinpro</td>
    </tr>
    <tr>
      <td>Pentec Health</td>
      <td>PDI, Inc.</td>
    </tr>
    <tr>
      <td>Reliant Renal Care</td>
      <td>
        Summit Kidney Centers<br>
        Fort Worth Dialysis Associates<br>
      </td>
    </tr>
    <tr>
      <td>Tandem Labs</td>
      <td>Pharma KD, a subsidiary of Linden Technologies</td>
    </tr>
    <tr>
      <td>Verathon</td>
      <td>Saturn Biomedical Systems</td>
    </tr>
  </table>

  <h2>Recruiting management teams</h2>
  <p>
    Drawing from our extensive network of industry contacts, DWHP can help those partners looking for the ideal candidate to augment their administrative, manufacturing, sales, marketing and financial staff.
  </p>

  <h2>Promoting Best Practices</h2>
  <p>
    Over the last 20 years, our investment team members have identified several key areas which can add value to our portfolio companies. Some of these areas include:
  </p>
  <ul>
    <li>Product and customer profitability analysis</li>
    <li>Implementation of formal accounting and financial practices</li>
    <li>Expanding and enlarging sales forces and their geographic coverage</li>
    <li>Acquiring and/or developing new complimentary product lines</li>
  </ul>
</div>
