<div class="banner banner--approach">
  <div class="banner__content">
    <h1 class="banner__content__title">Park City Transportation &amp; Lodging</h1>
  </div>
</div>

<div class="content">
  <div class="content__sizer">
    <div class="content__layout">
      <div class="content__layout__primary">
        <h2>Lodging</h2>
        <p>
          <strong>The Newpark Hotel ($$)</strong><br>
          1456 Newpark Boulevard<br>
          Park City, Utah 84098<br>
          Telephone: 435-649-3600<br>
          Fax: 435-615-7767<br>
          <a href="http://www.newparkresort.com">www.newparkresort.com</a><br>
          (approx. 2 minute walk from DWHP)<br>
          PLEASE ASK FOR THE DWHP RATE <br>
        </p>
        <p>
          <strong>The Waldorf Astoria Park City ($$)</strong><br>
          2100 Frostwood Drive<br>
          Park City, Utah 84098<br>
          Telephone: 435-647-5500<br>
          Fax: 435-615-0402<br>
          <a href="http://www.parkcitywaldorfastoria.com">www.parkcitywaldorfastoria.com</a><br>
          (approx. 5 minutes from DWHP) <br>
        </p>
        <p>
          <strong>The Hotel Park City ($$-$$$)</strong><br>
          2001 Park Avenue<br>
          Park City, Utah 84098<br>
          Telephone: 435-200-2000<br>
          Fax: 435-940-5001<br>
          <a href="http://www.hotelparkcity.com">www.hotelparkcity.com</a><br>
          (approx. 8 minute walk from DWHP)<br>
          PLEASE ASK FOR THE DWHP RATE <br>
        </p>
        <p>
          <strong>SLC Marriott Downtown ($$)</strong><br>
          220 South State Street<br>
          Salt Lake City Utah 84111<br>
          Telephone: 801-961-8700<br>
          Fax: 801-961-8704<br>
          <a href="http://www.marriott.com/SLCUT">www.marriott.com/SLCUT</a><br>
          (approx. 25 minutes from DWHP) <br>
        </p>
        <p>
          <strong>The Grand America Hotel ($$$$)</strong><br>
          555 South Main Street<br>
          Salt Lake City, Utah 84111<br>
          Telephone: 801-258-6000<br>
          Reservations: 800-621-4505<br>
          Fax: 801-258-6911<br>
          <a href="http://www.grandamerica.com">www.grandamerica.com</a><br>
          (approx. 25 minutes from DWHP) <br>
        </p>

        <h2>Transportation</h2>

        <p>
          Transportation to and from the airport:
        </p>
        <p>
          City Cab: 801-363-5550<br>
          Yellow Cab: 801-521-2100<br>
          Carey Limo: 800-336-4646 <a href="http://www.carey.com">www.carey.com</a> <br>
        </p>
        <p>
          As cabs in Salt Lake and Park City aren’t as plentiful as they are in larger cities, it is best to call ahead and schedule a pick up time to and from our office. If you need any assistance with logistics, please contact Dawn Smith at 435-365-2102 or email her at dawn@dwhp.com.
        </p>

      </div>
    </div>
  </div>
</div>
