{{#ember-wormhole to="modal-outlet"}}
  <div class="modal" id={{generatedModalId}}>
    <div class="modal__window">
      {{yield (hash
        close=(action "close")
      )}}
    </div>

    <div class="modal__backdrop" {{action "close"}}></div>
  </div>
{{/ember-wormhole}}
