<div class="banner banner--news">
  <div class="banner__content">
    <h1 class="banner__content__title">News &amp; Updates</h1>
    <p class="banner__content__intro">
      Get the latest scoop on DWHP.
    </p>
  </div>
</div>
