<div class="banner banner--transaction-types">
  <div class="banner__content">
    <h1 class="banner__content__title">A range of transaction types.</h1>
    <p class="banner__content__intro">
      Business owners can have all of their net worth tied-up in their companies, or they can diversify assets by taking on a partner.
    </p>

    {{approach/approach-navigation}}
  </div>
</div>

<div class="content">
  <div class="content__sizer">
    <p>
      DWHP is not just a financial partner, but one offering merger and acquisition expertise, deep healthcare knowledge, and a proven track record for helping its partners advance their businesses to the next level.
    </p>

    <div class="content--three-column">
      <div class="content__column">
        <h4>Shareholder liquidity</h4>
        <p>
          Shareholder Liquidity transaction model allows business owners to sell a stake in their company and achive greater liquidity.
        </p>
      </div>
      <div class="content__column">
        <h4>Management Buyouts</h4>
        <p>
          A management buyout allows a company's executive team to acquire the company they helped build, from the current owners.
        </p>
      </div>
      <div class="content__column">
        <h4>Growth Capital</h4>
        <p>
          DWHP helps business owners fund growth initiatives that require significant capital, such as add-on acquisition strategies.
        </p>
      </div>
    </div>

    <p>
      Our deal origination and investment teams attend more than 30 healthcare conferences a year and maintain relationships with thousands of business owners on an annual basis. We understand the healthcare marketplace; the multifaceted reimbursement issues, the regulatory requirements, the distribution channels, the customer bases and the myriad of details and perspectives that business owners consider when planning their acquisitive growth strategies.
    </p>
  </div>
</div>
