<div class="banner banner--transaction-types">
  <div class="banner__content">
    <h1 class="banner__content__title">A range of transaction types.</h1>
    <p class="banner__content__intro">
      Business owners can have all of their net worth tied-up in their companies, or they can diversify assets by taking on a partner.
    </p>

    {{approach/approach-navigation}}
  </div>
</div>
