<div class="banner__content__navigation">
  <ul class="banner__content__navigation__links">
    <li class="banner__content__navigation__links__item">
      {{link-to "Approach" "approach.index" class="banner__content__navigation__links__item__link"}}
    </li>
    <li class="banner__content__navigation__links__item">
      {{link-to "Adding Value" "approach.adding-value" class="banner__content__navigation__links__item__link"}}
    </li>
    <li class="banner__content__navigation__links__item">
      {{link-to "Transaction Types" "approach.transaction-types" class="banner__content__navigation__links__item__link"}}
    </li>
    <li class="banner__content__navigation__links__item">
      {{link-to "Deal Process" "approach.deal-process" class="banner__content__navigation__links__item__link"}}
    </li>
  </ul>
</div>
